COMPOSE_PROJECT_NAME=paperless
TRAEFIK_HOST="paperless.docker.localhost"
TRAEFIK_AI_HOST="paperless-ai.docker.localhost"
TRAEFIK_PDF_WEB_EDIT_HOST="paperless-edit.docker.localhost"
PAPERLESS_URL=https://paperless.docker.localhost
PAPERLESS_CSRF_TRUSTED_ORIGINS=https://*.docker.localhost
PAPERLESS_CORS_ALLOWED_HOSTS=https://paperless.docker.localhost

PAPERLESS_API_KEY=abcdef1234567890abcdef1234567890abcdef12

###############################################################################
# Paperless-ngx settings                                                      #
###############################################################################

# See http://docs.paperless-ngx.com/configuration/ for all available options.

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
#USERMAP_UID=1000
#USERMAP_GID=1000

# See the documentation linked above for all options. A few commonly adjusted settings
# are provided below.

# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
#PAPERLESS_SECRET_KEY=change-me

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE=ger

# Additional languages to install for text recognition, separated by a whitespace.
# Note that this is different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines
# the language used for OCR.
# The container installs English, German, Italian, Spanish and French by default.
# See https://packages.debian.org/search?keywords=tesseract-ocr-&searchon=names&suite=buster
# for available languages.
PAPERLESS_OCR_LANGUAGES=eng deu ita

###############################################################################
# Backup (borgmatic / Borg)                                                   #
###############################################################################

# Borg repository SSH URL (e.g. BorgBase)
BORG_REPO=ssh://xxxxxx@xxxxxx.repo.borgbase.com/./repo

# Borg repository encryption passphrase
BORG_PASSPHRASE=change-me-to-a-strong-passphrase
